<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Siddharth Singh/IdeaProjects/ATB9xAPIautomationPrograms">
        <classes>
            <class name="com.siddharth.ex02_RestAssureBasics.GET.APITESTING007">
                <methods>
                    <include name="test_Get_Req_Positive"/>
                    <include name="test_Get_Req_NEGATIVE"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>